
 p {
	 font-size: 15px;
	 font-weight: 300;
	 line-height: 1.4;
}
.author {
	 margin-bottom: 10px;
	 letter-spacing: -1px;
	 font-weight: 400;
	 color: rgba(49, 49, 49, 0.409);
}

 a.button {
	 float:right;
	 margin-right: 5px;
	 padding: 8px 14px;
	 font-size: 14px;
	 font-weight: 600;
	 border-radius: 3px;
	 background-color: rgba(68, 49, 76, 0.1);
}

 #grid {
	 margin-bottom: 60px;
}

 .book-item {
	 margin: 15px 20px;
	 padding: 15px;
	 list-style-type: none;
     width: 512px;
     
}

 .book-item:after {
	 position: absolute;
	 top: 0px;
	 right: 15px;
	 width: calc(100% - 105px);
	 border-radius: 3px;
	 box-shadow:0 0 0 0 transparent;
	 background-color: rgba(255, 255, 255, 0);
	 z-index: -1;
	 transition: all 250ms ease-out;
}
 .book-item:hover {
	 box-shadow: 0px 1px 1px 1px rgba(210, 214, 213, 0.5);
	 background-color: #fff;
}
 .book-item:hover .item-img img {
	 box-shadow: 0px 0px 10px 0px rgba(49, 49, 49, 0.25);
}
  .book-item:hover .bk-bookdefault {
	 -webkit-transform: rotate3d(0, 1, 0, 25deg);
	 transform: rotate3d(0, 1, 0, 25deg);
} 
 .book-item:hover .bk-back {
	 opacity: 1;
}
 .book-item .item-img {
	 display: inline-block;
	 float: left;
	 padding-right: 30px;
}

 .book-item .item-details {
	 padding-right: 30px;
}

 .book-item .description {
	 display: block;
	 display: -webkit-box;
	 height: 63px;
	 font-size: 15px;
	 line-height: 1.4;
	 overflow: hidden;
	 text-overflow: ellipsis;
}
 .bk-img {
	 position: relative;
	 display: inline-block;
	 float: left;
	 padding-right: 30px;
	 list-style: none;
}

.bk-img .bk-wrapper {
	 position: relative;
	 width: 150px;
	 height: 215px;
	 float: left;
	 z-index: 1;
	 perspective: 1400px;
}
 .bk-img .bk-wrapper:last-child {
	 margin-right: 0;
}
 .bk-img .bk-book {
	 position: absolute;
	 width: 100%;
	 height: 215px;
	 transform-style: preserve-3d;
	 transition: transform 0.5s;
}
 .bk-img .bk-book > div, .bk-img .bk-front > div {
	 display: block;
	 position: absolute;
}
 .bk-img .bk-front {
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transition: transform 0.5s;
	 transform: translate3d(0, 0, 20px);
	 z-index: 10;
}
 .bk-img .bk-front > div {
	 z-index: 1;
	 backface-visibility: hidden;
	 transform-style: preserve-3d;
	 border-radius: 0 3px 3px 0;
	 box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}
 .bk-img .bk-front:after {
	 content: '';
	 position: absolute;
	 top: 1px;
	 bottom: 1px;
	 left: -1px;
	 width: 1px;
}
 .bk-img .bk-front, .bk-img .bk-back, .bk-img .bk-front > div {
	 width: 150px;
	 height: 215px;
}
 .bk-img .bk-left, .bk-img .bk-right {
	 width: 40px;
	 left: -20px;
}
 .bk-img .bk-back {
	 transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
	 box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.3);
	 border-radius: 3px 0 0 3px;
	 opacity: 0;
	 transition: opacity 250ms ease-out;
}
 .bk-img .bk-back:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 10px;
	 bottom: 0;
	 width: 3px;
	 background: rgba(0, 0, 0, 0.06);
	 box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}
 .bk-img .bk-left {
	 height: 215px;
	 transform: rotate3d(0, 1, 0, -90deg);
}
 .bk-img .bk-left h2 {
	 width: 215px;
	 height: 40px;
	 transform-origin: 0 0;
	 transform: rotate(90deg) translateY(-40px);
}
 .bk-img .bk-cover {
    background-size: cover;
	 background-repeat: no-repeat;
	 background-position: 10px 40px;
     display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.bk-img .bk-cover img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

 .bk-img .bk-cover:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 10px;
	 bottom: 0;
	 width: 3px;
	 background: rgba(0, 0, 0, 0.06);
	 box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}
 .bk-img .bk-cover {
	 background-repeat: no-repeat;
	 background-position: top left !important;
}
 .bk-img .bk-front > div, .bk-img .bk-left {
	 background-color: rgba(0, 0, 0, 0.762);
}