.listing { 
    display:  flex;
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .listing { 
        display:  flex;
        float: left;
        flex-direction: row;
    }
}