
:root {
  --color-black: #1a1a1a;
  --color-white: #fff;
  --color-teal-800: #7E4098;
  --shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html, body {
  height: 100%;
}

body, p, a, li {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

a {
  color: #75187f;
}

h2, h3 {
  margin-top: 6px; 
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #313131;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 40px;
  color: rgba(49, 49, 49, 0.7);
}

.books {
  margin-top: 100px;
}
