body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOyJqd_ocDN5TLQ_IGIiHfcGrHTzz3vLtGIG5UGxdfcNjhtSq19by8EP-xCV_nXo6VjD0&usqp=CAU'); 
  /* background-image: url('https://media.istockphoto.com/vectors/purple-mauve-watercolor-fluid-painting-vector-design-card-vector-id1367021514?k=20&m=1367021514&s=612x612&w=0&h=9V_Vs0fPeg-xPXQl-qTp1simSYyn4h9c_J0m24S1Muo='); */
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
