.container {
    max-width: 1800px;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
    background-color: white;
}

.logo-img {
    width: 30px;
    height: 26px;
    float: left ;
    margin-right: 6px;
    margin-left: 10px;
}

.brand {
    font-family: inherit;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1.15;
    color: var(--color-teal-800);
    text-transform: uppercase;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
}
.menu {
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    align-content: center;
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: var(--color-white);
    box-shadow: var(--shadow-medium);
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--color-black);
}
.menu-icon {
    font-size: 1.35rem;
    line-height: 1;
    color: inherit;
}
.menu-name {
    display: none;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
    visibility: hidden;
    text-transform: capitalize;
}

#search-icon {

    font-size: 1rem;
		font-weight: 500;
		line-height: 1.5;
   }

   .search-input {
        position: absolute;
        top: -4px;
        right: -125px;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.6s ease;
   }

   .search-active {
    opacity: 1;
    z-index: 0;
  }
  
  .search {
    transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  }
  
  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }

  input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; 
    outline: 0;
    padding: 5px;
    font-size: 1rem;
		font-weight: 500;
		line-height: 1.5;
  }

@media only screen and (min-width: 360px) {
    .menu-name {
        display: block;
        visibility: visible;
   }
}

@media only screen and (min-width: 576px) {
    .menu-list {
        justify-content: center;
        column-gap: 3rem;
   }
}

@media only screen and (min-width: 768px) {
    .header {
        background: var(--color-white);
        box-shadow: var(--shadow-medium);
        transition: all 0.35s ease-in-out;
   }
    .menu {
        position: relative;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        background: none;
        box-shadow: none;
   }

   .menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--color-black);
   }
    
    .menu-link:hover {
        color: var(--color-teal-800);
        transition: all 0.35s ease;
   }
   
    .menu-name {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 0.2rem;
   }
}
