.edit-select {
    width: 100%;
    height: 100%;
    padding: 7px 10px;
    border: 0px solid #691655;
    border-left: 1px solid rgba(0,0,0,0.25);
    outline: 0;
  }

  .edit-select option{
    padding: 5px;
  }

  .edit-container label{
    color: #555;
    line-height: 2.1em;
    margin-left: 10px;
  }


.edit-container{
  top: 100px;
  bottom: auto;
  left: 0;
  right: 0;
  min-height: 35%;
  height: auto;
  width: 75%;
  margin: 20px auto;
  margin-bottom: 100px;
  border-top: 5px solid  var(--color-teal-800);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2.5px 5px #ccc;
  transition: 0.5s ease;
}

.edit-content{
  min-height: 100%;
  height: 100%;
  width: 95%;
  margin: 2.5% auto;
  overflow: hidden;
  transition: 0.5s ease;
}

.edit-content h1{
  text-align: center;
  color:  var(--color-teal-800);
  font-size: 40px;
  font-weight: 600;
  margin: 5px auto 15px auto;
}

.edit-fieldset{
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  background-color: rgba(151, 109, 160, 0.075);
}

.edit-fieldset textarea{
  min-height: 40px;
  max-height: 60px;
}

.edit-input { 
  width: 100%;
  background-color: rgba(151, 109, 160, 0.111);
}

.edit-select { 
  width: 100%;
  background-color: rgba(151, 109, 160, 0.111);
}

.edit-button {

width: 100px;
height: 30px;
float: right;
margin: 10px 0px 10px 0px;
background-color: rgba(151, 109, 160, 0.111);

}

 .grid-35{
  width: 35%;
  float: left;
  font-weight: 500;
  color: #333;

}
.grid-65{
  position: relative;
  width: 65%;
  float: right;
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 17px;
} 


@media only screen and (min-width: 768px){ 
    .edit-container { 
      width: 600px;
    }
  }
  @media only screen and (max-width: 768px){ 
    .edit-container { 
      width: 70%;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 520px){ 
    .edit-container {
      width: 90%;
    }
  }
  